{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Question Detail</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <a href="{% url 'polls:new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <a href="{% url 'home' %}" class="top-menu"><span class="glyphicon glyphicon-home"></span></a>
        <h1>Ethereum</h1>
    </div>
    <div class="content">
	<div class="blockchain">
	    <p>Connected to node? {{ connection_status }}</p>
	    <p>Current block number (Ropsten Network): {{ current_block_num }}</p>
	    <br>
	    <div class="wallet amount">
		<form method="POST">
		    {% csrf_token %}
		    <label for="wallet address">Enter the wallet address:</label>
		    <input type="text" id="wallet address" name="address" placeholder="0x..." size="45">
		    <input type="submit" value="Submit">
		</form>
		<br>
		<p>You entered the wallet address of: {{ address }}</p>
		<p>The amount of ETH in this wallet is: {{ wallet_balance }} </p>
	    </div>
	</div>
    </div>
  </body>
</html>
